@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Ultra&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.logo h2{
  font-family: 'Ultra', serif;
}

.showcase{
  height: 100vh;
  background: url('./assets/overlay.jpg') no-repeat center/cover;
}

.showcase .overlay{
  height: 100vh;
  background-color: rbga(0,0,0,0.9);
}